# .gitignore
config.js
.codegpt
.env
.vscode
credentials.json
venv
test.py
access.pem
app.log
.qodo
.ssh
Tfg_bueno(1).doc
Tfg_bueno(1).pdf

# Translation files
messages.pot
translate.py
*.mo
__pycache__/
*.pyc
